.homeBanner {
  width: 100%;
  /* background-color: #eee; */
  padding: 140px var(--space-2);
}
.introContent {
  width: 70%;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 600px;
}
.introContent h1 {
  font-family: "Arboria";
  font-weight: 500;
  margin-bottom: 1em;
  font-size: 40px;
}

.featWorks {
  background-color: var(--color-text);
  width: 100%;
}

.featWorks .wrapper {
  width: 85%;
  height: fit-content;
  padding: var(--space-5) 0;
  margin: 0 0 0 15%;
  color: #fff;
  display: flex;
  /* background-color: yellow; */
}

.worksIndex {
  width: 50%;
  height: 100%;
  margin: 100px var(--space-5) 100px 0;
}

.workLink {
  color: #fff;
  text-decoration: none;
}
.workLink:hover {
  background-color: red;
  color: rgb(177, 177, 177);
}
.workTitle {
  position: relative;
  border-bottom: 1px solid #3daf72bb;
}
.workTitle h1 {
  font-size: 32px;
  margin-bottom: 10px;
  padding: 24px 20px;
  transition: all 0.2s ease-in-out;
}
.worksIndex .workLink:first-child .workTitle {
  border-top: 1px solid #3daf72bb;
}
.workSkills {
  margin-bottom: 0;
  font-size: 14px;
  color: var(--color-code-bg);
  position: absolute;
  left: 0;
  top: 10px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  /* font-weight: 200; */
}
.workLink:hover .workSkills {
  left: 22px;
  opacity: 1;
}
.workLink:hover .workTitle h1 {
  /* padding-left: 30px; */
  padding-top: 30px;
  padding-bottom: 18px;
}
.workSkills span {
  font-weight: 200;
}

.worksThumb {
  width: 50%;
  position: relative;
  background-color: var(--color-primary);

  /* display: flex; */
  /* height: 600px; */
}
.workThumb {
  opacity: 0;
  position: absolute;
  transition: all 0.2s ease-in-out;
  height: 100%;
  width: 100%;
}
#thumbOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--color-primary);
  opacity: 0.4;
  z-index: 3;
}
#sandbox {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 1;
  z-index: 4;
}

.workThumb.visible {
  opacity: 1;
  z-index: 2;
}
.workThumbWrapper {
  position: absolute;
  /* height: 100%; */
}
a.allWorks {
}
.allWorks p {
  padding: 20px;
  text-transform: uppercase;
  width: fit-content;
  display: inline-block;
  margin-top: 10px;
}
.allWorks p:hover {
  text-decoration: underline;
}
